name: Update Productive Box gist
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: ["master"]
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Update gist
        uses: maxam2017/productive-box@94a79b346d2c07214d7587ba66138d415ac9c33c # v1.2.0
        env:
          GH_TOKEN: ${{ secrets.PAT }}
          GIST_ID: fb884fdad75f43b129b90336cfba2a4f
          TIMEZONE: Europe/Berlin
